.card {
  margin: 0 auto;
  margin-bottom: 60px;
  background-color: transparent;
}

.pageTitleText {
  text-align: center;
  margin: 0;
}

.message {
  color: var(--tertiary-text-color);
}

.subscriptionTabs {
  width: 100%;
  margin-top: -3px;
  margin-bottom: 10px;
}

.selectedTab {
  border-bottom: 3px solid var(--primary-color);
  color: var(--primary-text-color);
  font-weight: bold;
  box-sizing: border-box;
  margin-bottom: -3px;
}

.tab {
  text-align: center;
  padding: 15px;
  padding-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
  align-self: flex-end;
}

.tab:hover {
  font-weight: bold;
}