.card {
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: transparent;
}

.pageTitleText {
  text-align: center;
  margin-top: 0;
}

.message {
  color: var(--tertiary-text-color);
}

.profileName {
  width: 400px;
}

.bottomMargin {
  margin-bottom: 30px;
}

.colorOptions {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.colorOption {
  width: 100px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.initial {
  font-size: 50px;
  line-height: 1em;
  text-align: center;
  padding: 25px 0;
}