.card {
  margin: 0 auto;
  margin-bottom: 60px;
  background-color: transparent;
}

.pageTitleText {
  text-align: center;
  margin-top: 0;
}

.message {
  color: var(--tertiary-text-color);
}

.profileList {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 10px;
}