.card {
  margin: 0 auto;
  margin-bottom: 60px;
  background-color: transparent;
}

.pageTitleText {
  text-align: center;
  margin-top: 0;
}

.floatingTopButton {
  position: fixed;
  top: 70px;
  right: 10px;
}

@media only screen and (max-width: 350px) {
  .floatingTopButton {
    position: absolute
  }
}