.relative {
	position: relative;
}

.watchVideoRecommendations {
	display: grid;
	grid-gap: 8px;
	background-color: transparent;
	padding-top: 0;
	padding-right: 0;
}

.autoPlayToggle {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}


.autoPlayToggle :deep(.switch-label) {
	padding-top: 0;
	padding-bottom: 0;
}

.VideoRecommendationsTopBar{
	display:flex; 
	justify-content:space-between;
	padding-right: 16px;
}

.videoRecommendationsTitle {
	margin: 0;
}